.navMenu {
    background-color: var(--blue-dark);
    padding: 15px 25px;
}

nav a {
    color: var(--white);
    font-size: var(--font-size-body);
    text-decoration: none;
    margin-right: 20px;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    color: var(--blue-main);
}

.navMenu .dot {
    margin-top: 2px;
    width: 0px;
    height: 2px;
    background: var(--blue-main);
    border-radius: 2px;
    opacity: 0;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .navMenu a:nth-child(1):hover ~ .dot {
    width: 43px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(2):hover ~ .dot {
    width: 57px;
    -webkit-transform: translateX(62px);
    transform: translateX(62px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(3):hover ~ .dot {
    width: 75px;
    -webkit-transform: translateX(138px);
    transform: translateX(138px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(4):hover ~ .dot {
    width: 65px;
    -webkit-transform: translateX(233px);
    transform: translateX(233px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }