body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* color */
  --blue-dark: #003294;
  --blue-dark-secondary: #2257BF;
  --blue-main: #00B2FF;
  --blue-light: #EBF9FF;

  --gray-dark: #B7B5B5;
  --gray-light: #EBEBEB;

  --white: #fff;

  --red: #FF0000;

  /* font-size */
  --font-size-helper: 14px;
  --font-size-body: 16px;
  --font-size-h3: 20px;
  --font-size-h2: 25px;
  --font-size-h1: 49px;
}

p {
  font-size: var(--font-size-body);
}